/* Reset básico */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estructura general */
body {
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navegación */
nav {
    background-color: #34495e;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenido */
section {
    padding: 20px;
}

article {
  list-style-position: inside;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}

p {
    margin-bottom: 19px;
    line-height: 1.9;
}

/* Tabla */
table {
    width: 70%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ecf0f1;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
